﻿<!DOCTYPE html>
<html>
<head>
    <title>Список пользователей</title>
    <meta charset="utf-8" />
</head>
<body>
    <a href="./users/create">Добавить пользователя</a>
    <h1>Список пользователей</h1>
     <table>
         <tr><th>Имя</th><th>Возраст</th></tr>
         {{#each users}}
            <tr><td>{{this.name}}</td><td>{{this.age}}</td></tr>
         {{/each}}
     </table>
</body>
<html>